body {
	margin: 0;
	padding: 0;
	width: 100%;
}

header, nav {
	display: block;
}

h1 {
	font-family: "Arvo";
	font-weight: normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

a {
	text-decoration: none;
	color: yellow;
}

a:hover {
	color: #fff;
}

.center { 
	margin: 0 auto; 
}

.content { 
	margin: 0 auto; 
	width: 80%;
}

.clear { 
	clear: both; 
}

#header {
	width: 100%;
	background: url('../images/header-bg.png');
	height: 80px;
	position: fixed;
	margin-top: 30px;
}

#nav { 
	float: right; 
	margin-top: 20px;
	text-align: right;
}

#logo a { 
	color: #fff; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	margin-top: 20px; 
	color: #fff; 
	font-family: "Wellfleet"; 
	font-weight: bold; 
}

#logo a:hover {
	color: yellow;
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;
}

#nav li {
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}

#nav li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: 'Wellfleet';
}

#nav li a.active { 
	color: #fff; 
	opacity: 1; 
}

#nav li a:hover { 
	color: #fff; 
	opacity: 1; 
}

.quotes {
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 50px auto;
}

.author_name_white { 
	font-family: "Wellfleet"; 
	margin: 70px 0 0 75px; 
	color: #fff; 
	font-size: 20px;
} 

.author_name_gray { 
	font-family: "Wellfleet"; 
	margin: 70px 0 0 75px; 
	color: #94a4a4; 
	font-size: 20px;
} 

.quotes_container { 
	width: 80%; 
	margin: 0 auto;
}

.quotes_container img {
	border-radius: 50%;
}

#divider { 
	background: url('../images/divider.png')no-repeat;
	width: 300px; 
	height: 35px; 
	margin: 0px auto 27px auto;
}

#button { 
	background: url('../images/button.png')no-repeat;
	width: 251px; 
	height: 48px; 
	margin: 0 auto; 
	display: block; 
	position: relative; 
	padding-top: 5px;
}

#arrow {
	background: url('../images/arrow.png') no-repeat;
	height: 60px;
	width: 40px;
	margin: 0 auto;
	display: block;
}

#home, #about { 
	width: 100%; }

#home {
	background: url('../images/bgsecond.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#about {
	background-color: #fff;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#services {
	background: url('../images/bgone.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;
	background-size: cover;
}

#skills {
	background-color: #fff;
	color: #333333;
	height: 300px;
	padding: 200px 0;
}

#contact {
	background: url('../images/bgthird.jpg') 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

#copyright { 
	color: #fff; 
	font-family:"Wellfleet"; 
	font-size: 14px; 
	margin-top: 100px; 
	text-align: center;
}

#copyright a {
    text-decoration: none; 
    color: #fff;
}

#home a {
	color: #fff;
}

#home a:hover {
	color: yellow;
}

#menu-icon {
	display: none;
}

#nav, #slidenav, ul#slidenav {
	display: block;
}

@media (max-width: 747px) {
	/* menu icon */
	#menu-icon {
		height: 30px;
		background: url(../images/menu-icon.png) no-repeat 10px center;
		background-color: #fff;
		opacity: 0.9;
		border-radius: 2px;
		padding: 8px 10px 0 33px;
		cursor: pointer;
		border: solid 1px #666;
		display: block; /* show menu icon */
	}
	#menu-icon:hover {
		opacity: 0.5;
	}
	#menu-icon.active {
		background-color: 0.7;
	}

		/* main nav */

	#slidenav {
		clear: both;
		position: absolute;
		top: 80px;
		right: 0;
		z-index: 10000;
		padding: 5px;
		display: none; /* visibility will be toggled with jquery */
		font-size: 40px;
		background-color: white;
		width: 100%;
		text-align: center;

	}

	ul#slidenav {
		display: none;
	}

	#slidenav li {
		clear: both;
		float: none;
		margin: 5px 5px 10px 20px;
		background: url('../images/header-bg.png');
    }

    .lastslide {
    	margin-top: -20px;
    }


}

@media (max-width: 636px) {
	.mobile {
		display: none;
	}
	

}

@media (min-width: 748px) {
	/* ensure #nav is visible on desktop version */
	ul#slidenav {
		display: block !important;
	}
}




